@charset "UTF-8";

body {
    background-color: rgb(248, 232, 212);
}

h1 {
    color: black;
}

#banana {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: red;
    font-weight: lighter;
}

h2 {
    color: rgb(66, 66, 66);
    
}

p {
    color: rgb(66, 66, 66);
}

.basico {
    color: rgb(53, 193, 200);
    font-weight: lighter;
}

.intermed {
    color: rgb(202, 195, 52);
    font-weight: lighter;
}

.avancado {
    color: rgb(255, 0, 234);
    font-weight: lighter;
}